<nav class="navbar navbar-expand navbar-light bg-light ">
  <div class="collapse navbar-collapse" id="navbarNav">
    {{#if user}}
    <a class="navbar-brand" href="/profile">Joke LMFAO</a>
    {{else}}
    <a class="navbar-brand" href="/">Joke LMFAO</a>
    {{/if}}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <form action="/search" method="POST">
          <input type="search" name="search" placeholder="Search">
          <button type="submit">Search</button>
        </form>
      </li>
      {{#if user}}
      <li class="nav-item">
      <a class="nav-link active" href="/ranking">Top 10</a>
      </li>
      <li class="nav-item">
      <a class="nav-link active" href="/explore">Explorar chistes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/profile">Welcome {{user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Log out</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">Register</a>
      </li>
      {{/if}}
    </ul>
  </div>

</nav>