<div class="jumbotron lolo">
    <div class="row">
        <div class="col-md-2 ">
            <img src="../images/trollpng.png" class="presentation">
        </div>
        <div class="col-md-9 h1present">
            <h1 class="display-4">Welcome to Joke LMFAO!</h1>
        </div>
    </div>
    <p class="lead">Wanna join the funniest community on the internet?
        Join us and start submitting your best jokes!
    </p>
    <a class="btn btn-primary btn-lg" href="/auth/signup" role="button">Sign up</a>
    <hr class="my-4">
    <p>Already signed? <a href="/auth/login">Log in</a></p>
</div>