<a href="/profile"><img src="{{user.image}}"></a>
<br><br>
<h3>{{user.username}}</h3>
<a href="/profile/edit">Edit</a>
<div class="options">
  <a href="/jokes/list">Tus chistes</a>
  <a href="/jokes/add">Añadir un chiste</a>
  <a href="/list/">Listas</a>
  <a href="/list/new">Añadir una lista</a>
  <a href="/followed">Seguidores</a>
  <a href="/following">Seguidos</a>
  <a href="/auth/logout">Log out</a>
  </div>