<div class="profile row">
   {{>_user}}
</div>
{{#if jokes}}
{{#each jokes}}
{{> _jokesList joke=this user=../user}}
{{/each}}
{{else}}
<div class="mt-5">
<img style="width:20%;" src="/images/Poker_Face.png">
<br><br>
<h5>No jokes yet</h5>
</div>
{{/if}}

