<h1 class="display-5">Followers jokes!</h1>
{{#if jokes}}
{{#each jokes}}
{{> _jokesList joke=this user=../user}}
{{/each}}
{{else}}
<div class="mt-5">
<img src="/images/what.png">
<br><br>
<h5>You dont follow anybody!</h5>
</div>
{{/if}}

