*{
    font-family:"Comic Sans MF";
}
.usersFont{
    font-family:Chalkduster;
    color:black;
    font-weight: bold;
}

img{
    object-fit: cover;
    border-radius:15%;
}

.profileImg{
    margin-left:20%;
    width: 100px;
    height:100px;
    margin-bottom:20px;
}
.flex{
    display:flex;
    flex-direction:row;
}
.nav-link{
    font-size:2.5vh;
    color:black;
}

#user{
    text-align:center;
}
#user h3{
    margin-top:10px;
    color: #818181;
}

.profile{
    width:80%;
    justify-content: center;
    align-items: center;
    margin:0 auto;
   
}

.row{
    text-align:center;
}

.blockquote{
    margin:0;
    border-top:1px solid grey;
    padding:1.5%;
    text-align: initial;
}
.auth a{
    font-size:3vh;
    margin:1%;
}
.auth{
    margin-top:200px;
}
u{
    background-color: yellow;
}
#imglist{
    margin-right:10px;
    width:40px;
    height:40px;
}

.mb-0{
    display:inline-block;
}
.rateStars{
    display:inline-block;
}

.inline{
    display:inline;
}
.mybar{
    z-index:11;
    width:100%;
    position:fixed;
    font-size:2.5vh;
}

.leftSide{
    border-right:1px solid rgba(0, 0, 0, 0.37);
    padding-top:100px;
    text-align:initial;
    min-height: 750px;

}
.rightSide{
    padding:5%;
    padding-top:100px;
}
.login{
    width:40%;
    min-width:300px;
    font-size:3vh;
    margin:auto;
    margin-top:10%;
}
.presentation{
    width:125px;
}
.h1present{
    margin-top:-2.5%;
    margin-left:5.5%;
}
.lolo{
    background-color:white;
    position:fixed;
    width:40%;
    top:22.5%;
}
.btn-lg{
    background-color:rgba(90, 90, 90, 0.815);
    border-color:rgba(90, 90, 90, 0.815);
}

.btn-lg:hover{
    background-color:black;
    border-color:black;
}
.btn-sm{
    background-color:rgba(90, 90, 90, 0.815);
    border-color:rgba(90, 90, 90, 0.815);
}

.btn-sm:hover{
    background-color:black;
    border-color:black;
}
.btn-md{
    background-color:rgba(90, 90, 90, 0.815);
    border-color:rgba(90, 90, 90, 0.815);
}

.btn-md:hover{
    background-color:black;
    border-color:black;
}
.my-sm-0{
    color:white;
    border-color:white;
}
.my-sm-0:hover{
    background-color:white;
    color:black;
}
.foott{
    background-color:rgb(238, 237, 237);
    color:rgba(128, 128, 128, 0.753);
    position:fixed;
    top:93%;
    width:100%;
}
.ml{
    margin-left:8%;
}
.scores{
    justify-content: center;
}
.scores{
    p{
        margin-right:10px;
    }
}
.lala{
    position:fixed;
}
.profileSettings{
    width:50%;
    margin:2.5% auto;
}
.uploadImage{
    border:1px solid rgb(238, 237, 237);
    width:100%;
}





@media only screen and (max-width : 992px) {
#maxWidth{
    display:none;
}
.row{
    flex-direction:column;
    align-items: center;
}
.lolo{
    position:relative;
    width:100%;
}
.lala{
    position:relative;
}
.leftSide{
    height:100%;
    border:none;
}
.rightSide{
    padding:10px;
}
}


