<div class="card card-body">
  <h3>Añade un chiste</h3>
  <form action="/jokes/add" method="post">
    <div class="form-group">
      <textarea class="form-control" name="joke" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>