<div class="card card-body">
  <h3>Editar</h3>
  <form action="/jokes/edit/{{joke._id}}" method="post">
    <div class="form-group">
      <textarea class="form-control" name="joke" required>{{joke.body}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-md">Submit</button>
  </form>
</div>