<div class="jumbotron col-sm-6">
        <h1 class="display-5">Chistes más recientes!</h1>
        {{#each jokes}}
        <hr class="my-4">
        <p>{{body}}</p>
        <p>{{created_at}}</p>
        {{/each}}
    </div>